*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    padding: 20px 60px;
    height: 100%;
}

/* spazio per menu superiore */
header{
    background-color: #e579e6;
    height: 150px;
    margin-bottom: 20px;        
}

/* immagine grande superiore */
.copertina{    
    background-color: #e1d67a;
    height: 400px;    /*in futuro l'altezza verrà tolta */
    width: 100%;
    margin: 20px 0; 
}


/* spazio per scritta "LEADERSHIP" */
.spazio-del-titolo{
    height: 100px;      
    background-color:#abcfe7;
}

/* margine per distanziare i blocchi dallo spazio del titolo */
main{
    margin: 20px 0;
}


main:after{
    clear: both;
    content: '';
    display: table;
}


/* inizio blocchi incolonnati */
.left-content{
    background-color: #abcfe7;
    width: 25%;
    float: left;
    height: 700px;
}


/* footer */
footer{
    background-color: #8801fe;
    height: 75px;    
}

